<?xml version="1.0" encoding="UTF-8"?><maryxml xmlns="http://mary.dfki.de/2002/MaryXML" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="0.5" xml:lang="hsb">
<p>
<s>
<t>
Witajće
</t>
<t>
w
</t>
<t>
swěće
</t>
<t>
rěčneje
</t>
<t>
syntezy
</t>
<t>
!
</t>
</s>
</p>
</maryxml>
